*{
  margin: 0%;
  padding: 0%;
}

.container{
  width: 80%;
  margin: auto;
}


.d-flex{
  display: flex;
}

ul li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.pd-y{
  padding: 80px 0;
}

.w-33{
  width: calc(33% - 24px);
  padding: 0 12px;
}

.flex-wrap{
  flex-wrap: wrap;
}
/* ----------------------------------TOP-MENU CSS START---------------------------- */
.top-menu .d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu{
  background-color: #003366;
  padding: 12px 0;
  color: aliceblue;
  font-weight: 400;
}

.right .icon{
  font-size: 20px;
  margin-right: 3px;
}

.right .mail{
  margin-right: 15px;
}

.top-menu .socail{
  margin: 0 4px;
  font-size: 20px;
}
/* ----------------------------------TOP-MENU CSS END---------------------------- */
/* ----------------------------------MAIN-MENU CSS START---------------------------- */
.menu{
  padding: 10px 0;
}

.menu .d-flex{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  height: 60px;
}

.main-menu li{
  padding: 10px 15px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
} 

.menu_icon{
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  margin-left: 1px;
}

/* ----------------------------------MAIN-MENU CSS END---------------------------- */
/* ----------------------------------SLIDER CSS START---------------------------- */
.slider1 img{
  width: 100%;
}
/* ----------------------------------SLIDER CSS END---------------------------- */
/* ----------------------------------CREATIVE COURSE CSS START-------------------------- */


.course .line{
  height: 3px;
  width: 20px;
  background-color: orange;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-right: 10px;
}

.course-head
{
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.course h1{
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.course-img{
  flex-wrap: wrap;
  margin-top: 60px;
}

.course-img .w-33{
  width: calc(33.33% - 24px);
  padding: 0 12px;
}

.course-img img{
  width: 100%;
  border-radius: 20px 20px 0px 0px ;
}

.course-img .content{
  /* border: 2px solid black; */
  border-radius: 20px;
  box-shadow: 0px 0px 7px black;
}

.course-img .content h2{
  padding: 2px 0px 10px 15px;
  font-weight: 500;
}

.course-img .d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-img .w-33{
  margin-bottom: 24px;
}

.course-bottom{
  padding: 15px 15px;
}

.course-bottom .social{
  color: darkgoldenrod;
  font-size: 20px;
}

.course-btn button{
  background-color: #003366;
  border: none;
  border-radius: 3px;
  padding: 10px 17px;

}

.course-btn a{
  color: white;
}

.btn-all-courses{
  border: none;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.btn-all-courses a{
  background-color: goldenrod;
  color: white;
  padding: 15px 40px 15px 30px;
  font-size: 15px;
  border-radius: 5px;
}

.btn-all-courses .arrow{
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ----------------------------------CREATIVE COURSE CSS END---------------------------- */
/* ---------------------------------- ABOUT US CSS START---------------------------- */
.about img{
  height: 400px;
}

.about-img{
  position: absolute;
  right: 0;
  z-index: -100;
}

.about-img::before{
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0,0.5);
}

.about .d-flex{
  justify-content: space-between;
}

.about-content{
  box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3);
  border-radius: 0px 300px 300px 0px;
  position: relative;
  width: 64%;
  height: 350px;
  top: -25px;
  background-color: white;
}


.about .line{
  height: 3px;
  width: 20px;
  background-color: orange;
  position: absolute;
  left: -30px;
  top: 50%;
}

.about-head
{
  position: relative;
  text-transform: uppercase;
  margin-left: 30px;
  /* margin-top: 50px; */
}

.about h1{
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

.about .detail{
  margin-top: 20px;
  text-align: justify;
  color: #888888;
  font-size: 16px;
}

.about-content{
  padding: 50px 0 40px 0;
}

.about-btn{
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}

.about-btn a{
  background-color: goldenrod;
  color: white;
  padding: 15px 40px 15px 30px;
  font-size: 15px;
  border-radius: 5px;
}

.about-btn .arrow{
  font-size: 20px;
  position: absolute;
}

/* ---------------------------------- ABOUT US CSS END------------------------------ */
/* ---------------------------------- COUNTING CSS START------------------------------ */

.count{
  width: 100%;
  height: 220px;
  background-image:url('image/count.jpg');
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: -2;
}
.count::after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-color: #003366;
  opacity: 0.7;
}
.count_box{
  width: 305px;
  position: relative;
  transform: translateY(29px);
}
.count_box .count_icon{
  position: relative;
  top: 15px;
  left: -6px;
}
.count_box i{
    font-size: 60px;
}
.count_box p{
  text-align: center;
  font-size: 14px;
}
/* ---------------------------------- COUNTING CSS END-------------------------------- */
/* ---------------------------------- HAPPY STUDENTS CSS START------------------------ */
.w-50{
  width: 50%;
}

.line{
  height: 3px;
  width: 20px;
  background-color: orange;
  position: absolute;
  left: -30px;
  top: 50%;
}

.happy-head
{
  position: relative;
  text-transform: uppercase;
  margin-left: 30px;
}

.happy h1{
  letter-spacing: 1px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

.happy-icon
{
  font-size: 100px;
  color: rgba(0, 0, 0,0.08);
  margin-top:30px;
}

.happy .detail{
  text-align: justify;
  color: #888888;
}
.happy-bottom{
  align-items: center;
  margin-top: 30px;
}
.happy-bottom img{
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.bottom-con h3{
  color: #003366;
  margin-bottom: 5px;
}

.bottom-con h5 i{
  color: gold;
}

.bottom-con h5 span{
  color: #888888;
  font-style: italic;
}

.happy-img img{
  height: 500px;
  width: 500px;
}

.happy-img{
  margin-left: 80px;
}

/* ---------------------------------- HAPPY STUDENTS CSS END-------------------------- */
/* ---------------------------------- READ OUR CSS START-------------------------- */
.read-bg{
  background-color: #F7F7F7;
}

.read .line{
  height: 3px;
  width: 20px;
  background-color: orange;
  position: absolute;
  left: 39%;
  top: 50%;
  margin-right: 10px;
}

.read-head
{
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.read h1{
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.read-img{
  margin-top: 50px;
}

.read-1{
  position: relative;
  margin: 15px;
  width: calc(33% - 30px);
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0,0.8);
  padding: 20px 0;
} 

.read-1 img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translateX(-50%);
}

.read-1 h3{
  margin-top: 160px;
  text-align: center;
}

.read-1 p{
  text-align: center;
  color: #888888;
  margin-top: 15px;
  padding: 0px 30px 40px 30px;
}

#i1{
  background-color: #F6475F;
}

#i2{
  background-color: #FFBC06;
}

#i3{
  background-color: #B3D369;
}

#i4{
  background-color: #554DA7;
}

#i5{
  background-color: #4382FF;
}

#i6{
  background-color: #F94FA4;
}

/* ---------------------------------- READ OUR CSS END-------------------------- */
/* ---------------------------------- STUDENT PLACEMENT CSS START------------------------ */
.student .line{
  height: 3px;
  width: 20px;
  background-color: orange;
  position: absolute;
  left: 39%;
  top: 50%;
  margin-right: 10px;
}

.student-head
{
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.student h1{
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.std-img{
  margin-top: 50px;
}

.std{
  width: 100%;
  border: 1px solid #888888;
  margin: 15px;
  padding: 5px;
}

.std img{
  width: 100% !important;
  height: 70px;
  object-fit: cover;
}

.student h2{
  margin-top: 70px;
  margin-left: 15px;
}

.btn-demand{
  margin-top: 25px;
  margin-left: 15px;
}

.btn-demand a{
  padding: 3px;
  border: 1px solid #888888;
  color: black;
  margin: 2px;
  border-radius: 2px;
  font-size: 13px;
}

.btn-demand h5{
  font-weight: 400;
  margin-left: 1px;
}

/* ---------------------------------- STUDENT PLACEMENT CSS END-------------------------- */
/* ---------------------------------- FOOTER CSS START-------------------------- */
.footer-bg{
  background-color: #003366;
}

.footer-p{
  width: 33.33%;
  /* text-align: center; */
}

.p-1 img{
  width: 250px;
}

.p-1 p{
  color: white;
  font-size: 14px;
  text-align: justify;
  word-spacing: 0px;
  margin-top: 10px;
}

.p-1 h2{
  color: goldenrod;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 30px;
}

.p-1 .icon{
  margin-left: -3px;
}

.p-1 .footer-icon{
  color: white;
  font-size: 15px;
  background-color: rgba(255,255,255,0.1);
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  margin-top: 20px;
}

.p-2{
  padding-left: 50px;
}

.p-2 h4{
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 17px;
}

.p-2 .footer-icon,.p-3 .footer-icon{
  color: white;
  margin-right: 7px;
}

.p-2 ul{
  margin-top: 30px;
}

.p-2 ul li,.p-3 ul li{
  color: white;
  margin: 14px 0;
  font-size: 15px;
}

.p-3 h4{
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 17px;
}

.p-3 h3{
  text-transform: uppercase;
  color: goldenrod;
  font-size: 17px;
  margin-top: 25px;
}

.p-3 p{
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.p-3 h5{
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.p-3 span{
  color: goldenrod;
  font-weight: 500;
  margin-left: 3px;
}

.p-3 h3{
  text-transform: uppercase;
  color: goldenrod;
  font-size: 17px;
}
/* ---------------------------------- FOOTER CSS END-------------------------- */
/* ---------------------------------- COPYRIGHT CSS START-------------------------- */
.copyright{
  background-color: #072044;
  padding: 30px 0;
}

.copyright h3{
  color: white;
  font-size: 15px;
  font-weight: 400;
}
/* ---------------------------------- COPYRIGHT CSS END---------------------------- */




